.root {
    -fx-background-image: url("background.jpg");
    -fx-alignment: center;
}

.menu {
    -fx-background-color: linear-gradient(#b9b9b9, #7c7c7c);
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.tab-pane *.tab-header-background {
    -fx-background-image: url("background.jpg");
}