.root {
    -fx-background-image: url("background.jpg");
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.full {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #197e1f;
}

.trial {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}

.small_full {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #197e1f;
}

.small_trial {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}

.trial_title {
    -fx-font-size: 12px;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #b00000;
}

.block {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-border-color: #818181;
    -fx-border-radius: 10;
    -fx-alignment: center;
}

.market_price {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.market_price_label {

}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
